body {
	background-color:#cccc99;
	text-align: center;
	background: url(http://cdn.wallpapersafari.com/86/72/Zq7o6L.jpg);
	background-size: cover;
}

h1, h3 {
	color:#003366;
}

p, ul, li {
	color:#003333;
}

.center{
	width:200px;
	margin:0 auto;
	text-align:left;
}

ul {
	list-style-position: inside;
}

.neighbors {
	width: 400px;
	background-image: url(https://raw.githubusercontent.com/jjjon-l/jjjon-l.github.io/master/unit_3/images/background.jpg);
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}