body {
	background-color:#cccc99;
	text-align: center;
	background: url(http://cdn.wallpapersafari.com/86/72/Zq7o6L.jpg);
	background-size: cover;
}

h1, h3 {
	color:#003366;
}

p, ul, li {
	color:#003333;
}

.center{
	width:200px;
	margin:0 auto;
	text-align:left;
}

ul {
	list-style-position: inside;
}

.neighbors {
	width: 400px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
	background-position: center;
}