body {
	background-color:#cccc99;
	text-align: center;
	background: url(https://raw.githubusercontent.com/jjjon-l/jjjon-l.github.io/master/unit_3/images/background.jpg);
	background size: 1200;
}

h1, h3 {
	color:#003366;
}

p, ul, li {
	color:#003333;
}
